name: Build Docker Image

on:
  push:
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  trivy-scanning:
    name: Trivy Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'HIGH,CRITICAL'
    
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'

  build-and-push-image:
    name: Build and Push Docker Image to Github Container Registry
    needs: [trivy-scanning]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    outputs:
      docker_version: ${{ steps.meta.outputs.version }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GIT_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./Application
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-to: type=inline

      - name: Display Docker Metadata Output Version
        run: echo "VERSION=${{ steps.meta.outputs.version }}"

  trivy-scanning-docker-hub:
    name: Trivy Scanner Github Container Registry
    needs: [build-and-push-image]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'emanuelfds/app:${{ needs.build-and-push-image.outputs.docker_version }}'                             # Docker image reference
          format: 'sarif'                                                                   # output format of scan results (table, json, sarif)
          output: 'trivy-results-ghcr.sarif'                                          # location where vulnerability scan results will be recorded
          exit-code: '0'                                                                    # if 'exit-code: 1' your pipeline will be interrupted
          ignore-unfixed: true                                                              # ignore unfixed vulnerabilities
          vuln-type: 'os,library'                                                           # type of vulnerabilities to be displayed
          severity: 'CRITICAL,HIGH,MEDIUM'                                                  # severities of vulnerabilities to be displayed

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results-ghcr.sarif'

      - name: Run Trivy vulnerability scanner in IaC mode - Application
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: './Application'
          hide-progress: false
          format: 'sarif'
          output: 'trivy-results-application.sarif'
          exit-code: '0' 
          ignore-unfixed: true          
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload Trivy scan results to GitHub Security tab - Application
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results-application.sarif'
          category: 'TrivyScanResultsApplication'

      - name: Run Trivy vulnerability scanner in IaC mode - Configs
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: './Configs'
          hide-progress: false
          format: 'sarif'
          output: 'trivy-results-configs.sarif'
          exit-code: '0' 
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload Trivy scan results to GitHub Security tab - Configs
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results-configs.sarif'
          category: 'TrivyScanResultsConfigs'

  modifygit:
    name: Deploy Application in ArgoCD
    needs: [trivy-scanning-docker-hub]
    runs-on: ubuntu-latest
    
    steps:
      - name: Changing the deployment of git repo
        uses: actions/checkout@v4        
        with:
          ref: 'main'
          repository: 'emanuelfds/App-Manifest'
          token: ${{ secrets.GIT_PAT }}
          persist-credentials: true

      - name: Display Docker Metadata Output Version from build-and-push-image
        run: echo "VERSION=${{ needs.build-and-push-image.outputs.docker_version }}"

      - name: Modifying Tag Image in Deployment
        run: |
          git config user.email ${{ secrets.GIT_EMAIL }}
          git config user.name "${{ vars.GIT_USERNAME }}"
          pwd
          cat ${{ vars.K8S_PATH }}/04-deployment.yaml
          pwd
          sed -i "s+ghcr.io/emanuelfds/app.*+ghcr.io/emanuelfds/app:${{ needs.build-and-push-image.outputs.docker_version }}+g" ${{ vars.K8S_PATH }}/04-deployment.yaml
          sed -i 's/\(version: "\)[^"]*\(".*\)/\1${{ needs.build-and-push-image.outputs.docker_version }}\2/' ${{ vars.K8S_PATH }}/04-deployment.yaml
          cat ${{ vars.K8S_PATH }}/04-deployment.yaml
          git add .
          git commit -m 'Nova versão da Aplicação: ${{ needs.build-and-push-image.outputs.docker_version }}'
          git push origin main